@import "findbar.css";
@import "tabs-below-toolbar.css";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Heights */
#nav-bar {
  height: 40px;
}

#TabsToolbar {
  height: 31px !important;
}

/* Colors */
#main-window[lwtheme="true"]:not([style*="defaultthemes"]) #nav-bar {
  background-color: transparent !important;
}

#main-window[lwtheme="true"]:not([style*="defaultthemes"]) #navigator-toolbox>toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
  background-color: transparent !important;
  background-image: none;
}

#navigator-toolbox>toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
  background-color: transparent !important;
  background-image: none;
}

#nav-bar {
  background-color: transparent !important;
  margin-bottom: 2px
}

#urlbar {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#TabsToolbar {
  background: #bcbcbc !important;
}

#TabsToolbar tab {
  border-left: 0px solid #919191 !important;
  border-bottom: 1px solid #919191 !important;
}

#TabsToolbar tab[selected="true"] {
  border-top: 1px solid #919191 !important;
}

.tab-background[selected="true"] {
  background-attachment: none !important;
  background-color: #e3e4e6 !important;
  background-image: none !important;
}

.tabbrowser-tab[pending="true"] {
  filter: grayscale(85%) !important;
}

.tabbrowser-tab:hover .tab-close-button {
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: visible;
}

.tabbrowser-tab:hover .tab-close-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tabs-newtab-button,
#new-tab-button,
#alltabs-button {
  height: 30px !important;
  border-left: 1px solid #919191;
  border-top: 1px solid #919191;
}

/* Fix for nightly 65+ moving titlebar buttons into the tab bar */
#toolbar-menubar[inactive]>#menubar-items {
  opacity: 0;
  pointer-events: none;
}

#toolbar-menubar[inactive] {
  margin-bottom: -26px;
}

#TabsToolbar>.titlebar-buttonbox-container {
  display: none;
}

.titlebar-buttonbox-container,
titlebar-buttonbox {
  margin-top: 12px !important;
  margin-left: 8px !important;
  z-index: 1;
}

:root[tabsintitlebar]:not([sizemode="maximized"]):not([inFullscreen]) #navigator-toolbox {
  border: 1px solid var(--gnome-window-border-color) !important;
  border-radius: 8px 8px 0 0 !important;
  margin: -1px -1px 0 -1px !important;
}

#nav-bar {
  border-top-width: 0px !important;
  margin-top: 6px !important;
  margin-left: 76px;
  margin-right: 4px;
}

/* Hide tab line */
.tab-line {
  display: none !important;
}

.titlebar-placeholder {
  display: none;
}

.tabbrowser-tab[pinned]:not([busy="true"]) .tab-icon-image {
  display: block !important;
}

/* Bookmarks Bar fix */
#PersonalToolbar {
  -moz-box-ordinal-group: 2;
  background: rgb(220, 220, 220) !important;
  border-bottom: 1px solid #b1b1b1 !important;
}

/* Remove extra tab bar space */
#TabsToolbar {
  padding-inline-start: 0px !important;
}

#TabsToolbar .tabbrowser-tabs {
  border-bottom: 1px solid #b1b1b1 !important;
}

#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  min-width: 6em !important;
}

#TabsToolbar {
  background: linear-gradient(to bottom,
    rgb(192, 190, 192),
    rgb(187, 185, 187)) !important;
  box-shadow: inset 0px 1px 0px 0px rgb(162, 160, 162),
    inset 0px -1px 0px 0px rgb(162, 160, 162) !important;
  margin-right: -1px !important;
}

/* Hide and show close tab button */
.tabbrowser-tab .tab-close-button {
  display: none !important;
  margin: 0px 4px 0px -2px !important;
  -moz-box-ordinal-group: 0 !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-icon-image,
.tabbrowser-tab:not([pinned="true"]):hover .tab-throbber {
  display: none;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
  display: -moz-box !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 100% !important;
}

:root .tabs-newtab-button,
:root #new-tab-button,
:root #alltabs-button {
  --toolbarbutton-border-radius: 0;
  --toolbarbutton-outer-padding: 0;
}

#TabsToolbar .tab-close-button {
  -moz-box-ordinal-group: 0 !important;
  -moz-margin-start: -4px !important;
  -moz-margin-end: 4px !important;
  border-radius: 2px !important;
  transition: opacity 200ms !important;
  list-style-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\<line x1="4.5" y1="4.5" x2="11.5" y2="11.5" stroke="rgb(84,82,84)" stroke-width="1"/>\<line x1="4.5" y1="11.5" x2="11.5" y2="4.5" stroke="rgb(84,82,84)" stroke-width="1"/>\</svg>') !important;
}

@media (max-resolution: 1.9dppx) {
  #TabsToolbar .tab-close-button {
    list-style-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\<line x1="4.5" y1="4.5" x2="11.5" y2="11.5" stroke="rgb(84,82,84)" stroke-width="1.5"/>\<line x1="4.5" y1="11.5" x2="11.5" y2="4.5" stroke="rgb(84,82,84)" stroke-width="1.5"/>\</svg>') !important;
  }
}

.tab-label {
  -moz-box-flex: 1 !important;
  text-align: center !important;
}

/* Hide scroll buttons */
.scrollbutton-down,
.scrollbutton-up {
  display: none;
}
